:root {
  --branding-color: #e5e5e5;
  --accent-color: #be3144;
  --primary-color: #303841;
  --secondary-color: #fff;
  --default-font-family: "Montserrat", sans-serif;
}

body {
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--primary-color);
}

h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 2;
}

h2 {
  font-weight: 700;
}

h3 {
  font-weight: 400;
  font-size: 24px;
}

h4 {
  font-weight: 400;
  font-size: 30px;
}
p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

nav {
  font-size: 14px;
  padding: 26px 0;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: var(--primary-color);
}

nav a:hover,
nav li.active a {
  color: var(--accent-color);
  transition: all 100ms ease-in-out;
}

.hero {
  background-color: var(--branding-color);
  text-align: center;
  padding: 80px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: 600;
  margin: 0;
}

.hero h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 2;
}

.btn-branding {
  border-radius: 4px;
  background: var(--accent-color);
  color: var(--secondary-color);
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  text-transform: uppercase;
  padding: 13px 30px;
}

.btn-branding:hover {
  border: 1px solid var(--accent-color);
  color: var(--primary-color);
}

.btn-branding-outline {
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  color: var(--primary-color);
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  text-transform: uppercase;
  padding: 13px 30px;
}

.btn-branding-outline:hover {
  background: var(--accent-color);
  color: var(--secondary-color);
}

.item h2 {
  font-size: 54px;
}

.item p {
  font-weight: 400;
  line-height: 30px;
}

img {
  border-radius: 4px;
}

.logo {
  max-height: 60px;
}

.project-description {
  padding: 160px 60px;
}

.content-container {
  padding: 60px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 20px;
}

.content h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
}

.content p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.content-container ul {
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
  list-style: none;
  padding: 0;
}

.content {
  margin: 15px;
}

footer {
  margin: 120px 0;
  font-weight: 400;
}

footer .contact-box {
  background-color: var(--branding-color);
  border-radius: 10px;
  padding: 50px 150px;
}

footer .email-link {
  color: var(--primary-color);
  text-decoration: none;
  text-align: center;
}

footer .email-link:hover {
  color: var(--accent-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--accent-color);
  background-color: var(--branding-color);
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--secondary-color);
  background-color: var(--accent-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 60px;
    line-height: 80px;
  }

  h2 {
    font-size: 25px;
  }

  .item h2 {
    font-size: 38px;
    font-weight: 700;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }

  .content-container {
    text-align: center;
    padding: 0;
  }

  .content-container img {
    margin: 25px 0;
    max-width: 300px;
  }

  footer .contact-box {
    padding: 30px;
  }
}
